@import '../variables/main';
@include resetStyles;

.principalWrapper {
    @media (min-width:200px){
        width: 100%;
    }

    @media (min-width:1200px){
        width: 1200px;
    }
}

// -------------------- Header ---------------------------- //

*{
    font-family: $main-font-lato;
}

header {
    @include orderFlex(row,center,center);
    height: 10vh;
    width: 100%;
    background: #1b1b1b;
    font-family: $main-font-lato;
    position: fixed;
    z-index: 1;

}
nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    .logo {

       a {
           margin: 0;
     padding: 0;
       }
       @media (min-width:200px){
           width: 10rem;
           max-width: 17.5vh;
           height: 0 auto;
           padding: 0.9rem 0.5rem 0.5rem 0;
       }


        @media (min-width:600px){
           width: 10rem;
           max-width: 25vh;
           height: 0 auto;
           padding: 0.9rem 0.5rem 0.5rem 0;
       }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        text-transform: uppercase;
        li {
            margin: 0 4px;
            a {
                color: #f2f2f2;
                text-decoration: none;
                font-size: min(max(15px, 15px), 2vh);
                font-weight: 500;
                padding: 8px 15px;
                border-radius: 5px;
                letter-spacing: 1px;
                transition: all 0.3s ease;
                &:hover {
                    color: #111;
                    background: #fff;
                }
            }
            a.active {
                color: #111;
                background: #fff;
            }
        }
    }
    .menu-btn {
        i {
            color: #fff;
            font-size: 22px;
            cursor: pointer;
            display: none;
        }
    }
}

input[type="checkbox"] {
    display: none;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
    div {
        font-size: 40px;
        font-weight: 700;
    }
}
@media (max-width: 1000px) {
    nav {
        padding: 0 40px 0 50px;
    }
}
@media (max-width: 920px) {
    header {
        height: 0 auto;
        width: 100%;
        background: #1b1b1b;
    }
    nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 1rem 1.1rem 1rem 1rem;
        .menu-btn {
            i {
                display: block;
            }
        }
        ul {
            position: fixed;
            top: 10vh;
            right: -100%;
            background: #111;
            height: 100vh;
            width: 100%;
            text-align: center;
            display: block;
            transition: all 0.3s ease;
            li {
                width: 100%;
                margin: 15px 0;
                a {
                    width: 100%;
                    margin-right: -100%;
                    display: block;
                    font-weight: 600;
                    font-size: 17px;
                    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                    &:hover {
                        background: none;
                        color: #FF5917;
                    }
                }
                a.active {
                    background: none;
                    color: #FF5917;
                }
            }
        }
    }
    #click {
        &:checked {
            ~ {
                .menu-btn {
                    i {
                        &:before {
                            content: "\f00d";
                        }
                    }
                }
                ul {
                    right: 0;
                    li {
                        a {
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }
}


// -------------------- Header ---------------------------- //
// -------------------- About ---------------------------- //

.about {

    .principalWrapper {
        @media(min-width: 200px){
            @include orderFlex(column,center,center);
            padding: 7rem 0.5rem 4rem 0.5rem ;
        }

        @media(min-width: 1200px) {
            @include orderFlex(column, space-between, center);
            padding: 20rem 8rem 16rem 8rem;
        }
    }

    width: 100%;
    height: 95vh;
    max-height: 1200px;
    position: relative;
    @include orderFlex(column, center, center);
    background-color: #f12711;
    background-image: linear-gradient(135deg,#f12711,#f5af19,#f12711,
    #f5af19,#f12711 );
    background-size: 500%;
    animation: fanimado 33s infinite;

        @keyframes fanimado{
            0%{
                background-position: 0% 50%;
            }
            50%{
                background-position: 100% 100%;
            }
            100%{
                background-position: 0% 50%;
            }
        }

    div {
        width: 100%;
        text-align: center;
        @include orderFlex(column, center, center)
    }

   h1{
       font-weight: 700;
       font-size: min(max(35px, 35px), 4vh);
       color: $main-white;
       text-transform: uppercase;
   }

   p {
       font-weight: 400;
       font-size: min(max(25px, 25px), 3vh);
       margin: 1rem 0 2rem 0;
       color: $main-white;
   }

   .bottom {
    a {
        display: flex;
        align-items: center;
        padding: 1rem 1.5rem;
        justify-content: center;
        border-radius: 1rem;
        background: $main-black;
        color: $main-white;
        font-size:min(max(25px, 25px), 2vh);
        font-weight: 700;
        text-transform: uppercase;

        &:hover {
            transition: .1s all;
            color:#ff9a73;
        }

      }

   }

   .arrow-down {
    position: absolute;
    bottom: 1rem;
    align-items: center;
   }


        .arrow {
            align-items: center;
            border: solid black;
            border-width: 0 6px 6px 0;
            display: inline-block;
            padding: 6px;
          }

          .arrow:hover {
            align-items: center;
            border: solid #464646;
            border-width: 0 6px 6px 0;
            display: inline-block;
            padding: 6px;
          }

          .down:hover {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }

          .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }

    }
// -------------------- About ---------------------------- //

// -------------------- Description ---------------------------- //

 .description {
    @include orderFlex(column, center, center);
    background: $main-black;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000,#000000, #000000, #1d0901);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000,#000000, #000000, #1d0901); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .principalWrapper {
        @media(min-width: 200px){
            @include orderFlex(column, center, center);
            padding: 4rem 1rem 2rem 1rem ;
        }

        @media(min-width: 1200px) {
            @include orderFlex(column, space-between, center);
            padding: 4rem 1rem 8rem 1rem;
        }
    }

    div {
        @include orderFlex(column, center, center);
        text-align: center;

        h1{
            color: #FF5917;
            text-transform: uppercase;
            font-size: min(max(25px, 25px), 3.5vh);
            padding-bottom: 0.5rem;
        }

        span {
            color: $main-gray;
            font-size: min(max(20px, 20px), 3vh);
        }

    }

    ul {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 3rem;

        li {
            @include orderFlex(column, space-around, center);
            text-align: center;
            padding: 0 0.8rem;

            div {
                width: 7rem;
                height: 7rem;
            }

            h2{
                color: $main-white;
                text-transform: uppercase;
                font-size: min(max(20px, 20px), 3vh);
            }

            p {
                color: $main-white;
                margin-top: 1.5rem;
                font-size: min(max(15px, 15px), 2.5vh);
            }
        }
    }
}

// -------------------- Description ---------------------------- //

// -------------------- discover-area ---------------------------- //

.discover-area {
    display: flex;
    justify-content: center;
    background: $main-black;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1d0901,#1d0901,#1d0901,#1d0901, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,#1d0901, #1d0901,#1d0901,#1d0901, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .principalWrapper {
        @media(min-width: 200px){
            @include orderFlex(column, center, center);
            padding: 4rem 1rem 2rem 1rem ;
        }

        @media(min-width: 1200px) {
            @include orderFlex(row, space-between, center);
            padding: 2rem 4rem 4rem 4rem;
        }
    }

    .aboutContent-text {
        flex: 1;
        display: flex;
        flex-direction: column;
        color: white;
        position: relative;
        height: 100%;
        margin: 1rem;

        h2 {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 0.8rem;
            padding: 3rem 1rem 0 1rem;


        }

        h1{
            text-transform: uppercase;
            font-weight: 700;
            align-items: center;
            font-size: 2rem;
            padding: 5px 1rem 1rem 1rem ;
            color: #FF5917;
        }

        p {
            font-weight: 600;
            align-items: center;
            padding: 0 1rem 2.5rem 1rem;
        }

        .bottom {
            padding: 0 1rem 2rem 1rem;

            a {
                padding: 1rem 1.5rem;
                border-radius: 1rem;
                background: $main-black;
                color: $main-white;
                font-size: 1.2rem;
                font-weight: 700;
                text-transform: uppercase;

                &:hover {
                    transition: .1s all;
                    color: #f17932;
                }
              }
           }
    }

    .aboutContent-img {
        flex: 1;
        @include orderFlex (row, center, center);
        padding: 1rem;


        img{
            width: 100%;
            margin: 1rem;
        }
    }
}


// -------------------- discover-area---------------------------- //

// -------------------- footer ---------------------------- //


footer{
    display: flex;
    color: $main-white;
    justify-content: space-around;
    background: $main-black;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom,#000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom,#000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            .principalWrapper {
            @media(min-width: 200px){
                @include orderFlex(column, center, center);
                padding: 0.5rem ;
            }

            @media(min-width: 890px) {
                @include orderFlex(row, space-around, stretch);
                padding: 2rem 4rem 4rem 4rem;

            }

            @media(min-width: 1200px) {
                @include orderFlex(row, space-around, stretch);
                padding: 2rem 4rem 4rem 4rem;

            }

            .direction{
                display: flex;
                width: 25rem;
                flex-direction: column;
                .title {
                        font-size: min(max(20px, 20px), 3vh);
                        color: $main-orange;
                    }
                    li{
                        padding: 0 1rem 1rem 1rem;
                        font-size: min(max(15px, 15px), 2.5vh);
                    }
            }

            .blog {
                    display: flex;
                    flex-direction: column;
                    width: 25rem;
                    .title {
                        font-size: min(max(20px, 20px), 3vh);
                        color: $main-orange;
                    }
                    li{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 0 1rem 1rem 1rem;
                        div{
                            font-size: min(max(15px, 15px), 2.5vh);
                        }
                        img{
                            width: 80px;
                            height: 80px;
                        }
                        div{
                            margin: 1rem;
                        }
                    }
            }

            .red{
                display: flex;
                flex-direction: column;
                align-items: center;
                    li{
                        padding: 1rem;
                    }
                    .title {
                        font-size: min(max(20px, 20px), 3vh);
                        color: $main-orange;
                        align-items: center;
                    }
                    .icon-redes{
                        display: flex;
                        flex-direction: row;
                        div{
                            width: 35px;
                            height: 35px;
                            padding: 0.2rem;
                        }
                    }
            }
        }
}

// -------------------- footer ---------------------------- //