@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* img {
  width: 100%;
  height: auto;
}

body {
  max-width: 100%;
  max-height: 100%;
  font-family: "Lato", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  height: 100%;
}

@media (min-width: 200px) {
  .principalWrapper {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .principalWrapper {
    width: 1200px;
  }
}

* {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  background: #1b1b1b;
  font-family: "Poppins", sans-serif;
  position: fixed;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
nav .logo a {
  margin: 0;
  padding: 0;
}
@media (min-width: 200px) {
  nav .logo {
    width: 10rem;
    max-width: 17.5vh;
    height: 0 auto;
    padding: 0.9rem 0.5rem 0.5rem 0;
  }
}
@media (min-width: 600px) {
  nav .logo {
    width: 10rem;
    max-width: 25vh;
    height: 0 auto;
    padding: 0.9rem 0.5rem 0.5rem 0;
  }
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-transform: uppercase;
}
nav ul li {
  margin: 0 4px;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: min(max(15px, 15px), 2vh);
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a:hover {
  color: #111;
  background: #fff;
}
nav ul li a.active {
  color: #111;
  background: #fff;
}
nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type=checkbox] {
  display: none;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div {
  font-size: 40px;
  font-weight: 700;
}

@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  header {
    height: 0 auto;
    width: 100%;
    background: #1b1b1b;
  }

  nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 1.1rem 1rem 1rem;
  }
  nav .menu-btn i {
    display: block;
  }
  nav ul {
    position: fixed;
    top: 10vh;
    right: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  nav ul li {
    width: 100%;
    margin: 15px 0;
  }
  nav ul li a {
    width: 100%;
    margin-right: -100%;
    display: block;
    font-weight: 600;
    font-size: 17px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  nav ul li a:hover {
    background: none;
    color: #FF5917;
  }
  nav ul li a.active {
    background: none;
    color: #FF5917;
  }

  #click:checked ~ .menu-btn i:before {
    content: "";
  }
  #click:checked ~ ul {
    right: 0;
  }
  #click:checked ~ ul li a {
    margin-right: 0px;
  }
}
.about {
  width: 100%;
  height: 95vh;
  max-height: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f12711;
  background-image: linear-gradient(135deg, #f12711, #f5af19, #f12711, #f5af19, #f12711);
  background-size: 500%;
  animation: fanimado 33s infinite;
}
@media (min-width: 200px) {
  .about .principalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 0.5rem 4rem 0.5rem;
  }
}
@media (min-width: 1200px) {
  .about .principalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20rem 8rem 16rem 8rem;
  }
}
@keyframes fanimado {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.about div {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about h1 {
  font-weight: 700;
  font-size: min(max(35px, 35px), 4vh);
  color: #ffffff;
  text-transform: uppercase;
}
.about p {
  font-weight: 400;
  font-size: min(max(25px, 25px), 3vh);
  margin: 1rem 0 2rem 0;
  color: #ffffff;
}
.about .bottom a {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;
  justify-content: center;
  border-radius: 1rem;
  background: #000000;
  color: #ffffff;
  font-size: min(max(25px, 25px), 2vh);
  font-weight: 700;
  text-transform: uppercase;
}
.about .bottom a:hover {
  transition: 0.1s all;
  color: #ff9a73;
}
.about .arrow-down {
  position: absolute;
  bottom: 1rem;
  align-items: center;
}
.about .arrow {
  align-items: center;
  border: solid black;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;
}
.about .arrow:hover {
  align-items: center;
  border: solid #464646;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 6px;
}
.about .down:hover {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.about .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #000000, #000000, #000000, #1d0901);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000000, #000000, #000000, #1d0901);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media (min-width: 200px) {
  .description .principalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem 2rem 1rem;
  }
}
@media (min-width: 1200px) {
  .description .principalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 1rem 8rem 1rem;
  }
}
.description div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.description div h1 {
  color: #FF5917;
  text-transform: uppercase;
  font-size: min(max(25px, 25px), 3.5vh);
  padding-bottom: 0.5rem;
}
.description div span {
  color: #f3f3f3;
  font-size: min(max(20px, 20px), 3vh);
}
.description ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.description ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0 0.8rem;
}
.description ul li div {
  width: 7rem;
  height: 7rem;
}
.description ul li h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: min(max(20px, 20px), 3vh);
}
.description ul li p {
  color: #ffffff;
  margin-top: 1.5rem;
  font-size: min(max(15px, 15px), 2.5vh);
}

.discover-area {
  display: flex;
  justify-content: center;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #1d0901, #1d0901, #1d0901, #1d0901, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1d0901, #1d0901, #1d0901, #1d0901, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media (min-width: 200px) {
  .discover-area .principalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
}
@media (min-width: 1200px) {
  .discover-area .principalWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem 4rem 4rem;
  }
}
.discover-area .aboutContent-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: white;
  position: relative;
  height: 100%;
  margin: 1rem;
}
.discover-area .aboutContent-text h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 3rem 1rem 0 1rem;
}
.discover-area .aboutContent-text h1 {
  text-transform: uppercase;
  font-weight: 700;
  align-items: center;
  font-size: 2rem;
  padding: 5px 1rem 1rem 1rem;
  color: #FF5917;
}
.discover-area .aboutContent-text p {
  font-weight: 600;
  align-items: center;
  padding: 0 1rem 2.5rem 1rem;
}
.discover-area .aboutContent-text .bottom {
  padding: 0 1rem 2rem 1rem;
}
.discover-area .aboutContent-text .bottom a {
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  background: #000000;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.discover-area .aboutContent-text .bottom a:hover {
  transition: 0.1s all;
  color: #f17932;
}
.discover-area .aboutContent-img {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.discover-area .aboutContent-img img {
  width: 100%;
  margin: 1rem;
}

footer {
  display: flex;
  color: #ffffff;
  justify-content: space-around;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media (min-width: 200px) {
  footer .principalWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }
}
@media (min-width: 1200px) {
  footer .principalWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    padding: 2rem 4rem 4rem 4rem;
  }
}
footer .principalWrapper .direction ul .title {
  font-size: min(max(20px, 20px), 3vh);
  color: #FF5917;
}
footer .principalWrapper .direction ul li {
  padding: 0.5rem;
  font-size: min(max(15px, 15px), 2.5vh);
}
footer .principalWrapper .blog ul {
  display: flex;
  flex-direction: column;
}
footer .principalWrapper .blog ul .title {
  font-size: min(max(20px, 20px), 3vh);
  color: #FF5917;
}
footer .principalWrapper .blog ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1rem;
}
footer .principalWrapper .blog ul li div {
  font-size: min(max(15px, 15px), 2.5vh);
}
footer .principalWrapper .blog ul li img {
  width: 80px;
  height: 80px;
}
footer .principalWrapper .blog ul li div {
  margin: 1rem;
}
footer .principalWrapper .red {
  display: flex;
}
footer .principalWrapper .red ul li {
  padding: 1rem;
}
footer .principalWrapper .red ul .title {
  font-size: min(max(20px, 20px), 3vh);
  color: #FF5917;
}
footer .principalWrapper .red ul .icon-redes {
  display: flex;
  flex-direction: row;
}
footer .principalWrapper .red ul .icon-redes div {
  width: 35px;
  height: 35px;
  padding: 0.2rem;
}

/*# sourceMappingURL=style.css.map */
